/* Основное оформление */
.feedback,
.sub-catalog,
.form-search,
.section-basket {
  display: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  clip: rect(0, 0, 0, 0);
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  background-color: #849d8f;

  /* Временно для сетки */
  /* background-image: url('../img/gllacy-index.jpg');
  background-size: 1200px auto;
  background-position: top center;
  background-repeat: no-repeat; */
}

.main-header {
  width: 1146px;
  margin: 9px auto 0 auto;
}

.main-navigation {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

/* Главное меню навигации по магазину */
/* Список из главного меню */
.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  list-style: none;
  margin: 0 0 9px 10px;
  padding: 0;

  min-width: 349px;
}

.navigation-item {
  position: relative;
  margin-right: 2px;
}

.navigation-item:hover .sub-catalog {
  display: block;
}

.user-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 9px auto;

  width: 245px;
}

.user-navigation-catalog {
  width: 262px;
}

.search-container {
  margin-left: 0px;
  position: relative;
}

.search-container:hover .form-search {
  display: block;
}

.login-container {
  position: relative;
}

/* Ссылки/элементы главного меню
магазина (Каталог, Доставка и оплата,
О Компании) */
.menu-item {
  display: block;

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;

  padding: 10px 13px 11px 13px;
  border-radius: 16px;
}

/* Ссылки главного меню при наведении */
.menu-item:hover {
  color: #323232;
  background-color: rgb(247, 246, 243);
  text-decoration: none;
}

/* Ссылки главного меню при нажатии */
.menu-item:active {
  background-color: rgba(248, 247, 244, 0.988);
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
}

/* Активная ссылка Каталог на странице каталога */
.menu-item-active {
  background-color: rgb(208, 112, 88);
  text-decoration: none;
  line-height: 19px;
  padding: 6px 13px 7px 13px;
}

/* Подменю */
.sub-catalog {
  list-style: none;
  margin: 0;
  padding: 0 0 8px;
  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 41px;
  left: -7px;

  box-sizing: border-box;
  width: 143px;
}

.new-item {
  padding: 0;
  margin: 0;
}

.new-ref {
  display: block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  text-decoration: none;
  word-break: break-all;
  padding: 11px 20px 5px 20px;
}

.new-ref:hover {
  background-color: #fbded8;
}

.new-ref:active {
  background-color: #f6b5a5;
}

.active-ref {
  background-color: #d07058;
}

.header-new-ref {
  display: block;
  padding: 11px 15px 10px 15px;
  margin: 0px 9px 0px 6px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #323232;
  text-decoration: none;
  border-bottom: 1px solid rgba(235, 234, 231);
}

/* Ссылки поиска, формы логина и корзины */
.basket {
  padding: 9px 17px 8px 44px;
}

.login {
  padding: 9px 16px 8px 43px;
}

.search {
  display: block;
  padding: 16px;
}

/* форма поиска */
.form-search {
  position: absolute;
  border-radius: 6px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  top: 37px;
  right: 15px;
  padding: 20px 15px 20px 15px;
}

.search-phrase {
  box-sizing: border-box;
  width: 310px;
  padding: 16px 225px 8px 10px;
  border: 1px solid rgb(211, 211, 210);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

.search-phrase::placeholder {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  color: #999999;
}

/* Форма входа */
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  position: absolute;
  border-radius: 6px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  top: 37px;
  right: 14px;
  width: 277px;
}

.block-submit {
  display: flex;
  justify-content: space-around;
}

.login-email,
.login-password {
  border: 1px solid rgb(211, 211, 210);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  width: 241px;
}

.search,
.login,
.basket {
  display: block;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

  border-radius: 16px;

  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
  position: relative;
}

.basket::before {
  content: "";
  position: absolute;

  width: 21px;
  height: 20px;

  left: 16px;
  top: 7px;

  background-repeat: no-repeat;
  background-position: 0 0;
}

.empty-basket::before {
  background-image: url("../img/basket.svg");
}

.empty-basket:hover::before {
  background-image: url("../img/basket-active.svg")
}

.login::before {
  content: "";
  position: absolute;

  width: 21px;
  height: 19px;

  left: 16px;
  top: 7px;

  background-image: url("../img/entrance.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login:hover::before {
  background-image: url("../img/active-entrance.svg");
}

.search::before {
  content: "";
  position: absolute;

  width: 17px;
  height: 17px;

  left: 8px;
  top: 7px;

  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search:hover::before {
  background-image: url("../img/active-loupe.svg");
}

/* Наведение на ссылки поиска, формы логина и корзины */
.search:hover,
.login:hover,
.basket:hover {
  color: #323232;
  background-color: #f8f7f4;
}

/* Стиль корзины с товарами */
.full-basket {
  color: #323232;
  background-color: #f7f6f3;
}

.full-basket::before {
  background-image: url("../img/basket-red.svg");
}

/* Контакты и время работы */
.contacts {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  text-align: end;
  color: #ffffff;

  width: 168px;
  padding: 0;
  margin: -10px 0 0 auto;
}

.work-time {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.inner-page-container {
  width: 1146px;
  margin: 0 auto;
}

/* Главный заголовок сайта */
.shop-name {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.promo {
  width: 1146px;
  margin: 0 auto 40px auto;
}

/* Названия сетов из 2 мороженых */
.set-name {
  font-size: 60px;
  line-height: 60.35px;
  font-weight: 700;
  color: #ffffff;
}

/* Фоны сетов */
.slider {
  margin: 0 auto;
}

.set-1,
.set-2,
.set-3 {
  background-repeat:  no-repeat;
}

.set-1 {
  background-image: url("../img/set-1.png");
}

.set-2 {
  background-image: url("../img/set-2.png");
}

.set-3 {
  background-image: url("../img/set-3.png");
}

.promo-controls {
  margin: 0 auto 40px auto;
}

/* Кнопки и ссылки в виде кнопок */
.btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;

  background-image:  linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

/* кнопка вход */
.btn-entrance {
  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);


  width: 100px;
}

.email-password-info {
  width: 120px;

  font-size: 13px;
  line-height: 24px;
  font-weight: 400;

  color: #323232;
}

.new-reg,
.password-help {
  color: #323232;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
}

.btn:active {
  background-image: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}

/* Ссылка на сет из двух мороженых */
.btn-set {
  font-size: 32px;
  line-height: 44px;
}

/* Список предложений */
.offer-list {
  display: flex;
  justify-content: space-between;

  list-style: none;
  padding: 0;

  margin: 0 auto 40px auto;
}

.offer-item {
  background-repeat: no-repeat;
  width: 560px;
}

.offer-raspberry {
  background-image: url("../img/raspberries.jpg");
}

.offer-chocolate {
  background-image: url("../img/chocolate.jpg");
}

.offer-header {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.offer-description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  padding: 0;
  margin: 0 0 82px 0;
}

.catalog-item {
  min-height: 325px;
  width: 267px;
  margin-bottom: 40px;
  margin-right: 26px;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item:hover {
  border-radius: 5px;
  background-color: rgba(248, 247, 244, 0.2);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.item-reference {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

/* Цена */
.price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
}

.kilo {
  font-size: 30px;
}

/* Хлебные крошки */
.breadcrumb-container {
  display: flex;
  flex-direction: column;
  margin: 0 0 30px 0;
}

.breadcrumbs-navigation {
  order: 1;
  margin-bottom: 0 0 10 0px;
}

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item {
  display: inline-block;
}

.breadcrumbs-reference {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.breadcrumbs-reference-current {
  text-decoration: none;
  color: #ffffff;
}

/* Заголовок страницы каталога */
.page-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;

  order: 2;
  margin: 0;
}

/* Стили фильтров */
.filters {
  margin: 0 0 40px 0;
}

.form-filter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 870px;
}

.sort,
.fat-content,
.fillers {
  border: none;
}

.filter-header {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
}

.filter-value {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
}

/* Значения по фильтру */
.options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-option {
  display: inline-block;
}

/* Селектор */
.sort-kind {
  background-color: rgba(248, 247, 244, 0.2);
}

.sort-kind:hover {
  color: #323232;
}

.option-item {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.btn-filter {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0);
}

.btn-filter:hover {
  color: #323232;
  background-color: rgb(255, 255, 255);
}

.btn-filter:active {
  background-color: rgb(237, 237, 237);
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
}

/* Преимущества */
.features {
  background-color: #ebdec4;
  background-image: url("../img/wafer.jpg");
  background-repeat: repeat;

  width: 1146px;
  margin: 0 auto 40px auto;
}

.glacy-shop {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
}

.features-list {
  list-style: none;
}

.feature-item {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
}

.education {
  display: flex;
  justify-content: space-between;

  width: 1146px;
  margin: 0 auto 40px auto;
}

/* Новое в нашем блоге */
.news {
  background-color: #ffffff;
  background-image: url("../img/srawberry.jpg");
  background-repeat: no-repeat;

  width: 560px;
}

.news-header {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.news-article {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
}

.news-article:hover,
.news-article:active{
  color: #e84d37;
}

/* Подписка */
.subscription {
  background-color: #f8f7f4;
  width: 560px;
}

.subscription-offer {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a;
}

/* Стили полей ввода */
.input-style {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;

  border-style: solid;
  border-width: 1px;
  border-color: rgb(178, 178, 178);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  opacity: 0.52;
}

.input-style::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.input-style:hover {
  border-width: 2px;
  border-color: rgb(154, 154, 154);
}

.input-style:focus {
  border-color: rgb(46, 136, 228);
}

.location {
  display: flex;
  justify-content: flex-end;

  background-color: #ffffff;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  margin: 0 auto;
}

.shop-info {
  background-color: #ffffff;
  width: 302px;

  margin: 62px 27px 62px 0;
}

.address,
.phone {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.address-value,
.phone-value {
  color: #323232;
  font-size: 18px;
  font-weight: 700;
}

.address-value {
  line-height: 24px;
}

.phone-value {
  line-height: 22px;
}

.time-value {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

/* Страницы каталога */
.pagination-list {
  display: flex;
  justify-content: flex-end;

  list-style: none;
  padding: 0;
  margin: 0;
}

.page {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  color: #ffffff;
  text-decoration: none;
}

.page:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.current-page,
.page:active {
  color: #323232;
  background-color: #ffffff;
}

/* Списки соц. сетей и списки ссылок на документы */
.footer-social {
  list-style: none;
  padding: 0;
  margin: 0;

  min-height: 60px;
  width: 188px;
}

.documents {
  margin: 0;
  min-height: 60px;
  width: 330px;
}

.footer-social,
.document-list {
  list-style: none;
}

.social-site {
  background-color: #e6ebe9;
}

.social-site:hover {
  background-color: #ffffff;
}

.social-site:active {
  background-color: #e9e9e9;
}

.document-site {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.provider-document-site {
  font-weight: 700;
}

/* Авторские права */
.author {
  margin: 0;
  min-height: 60px;
  width: 190px;
}

.footer-copyright {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #fefefe;
}

.intensive-site {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

/* Белые ссылки на зеленом фоне */
.white-references {
  color: #ffffff;
}

/* Те же ссылки только с учетом наведения курсора мыши и нажатия на ссылку. */
.white-references:hover,
.white-references:active {
  color: #ffbc9e;
}

.main-footer {
  display: flex;
  justify-content: space-between;

  width: 1146px;
  margin: 18px auto 0 auto;
  padding: 18px 0 25px 0;

  min-height: 85px;
}

