/* Основное оформление */
.feedback,
.sub-catalog-container,
.form-search-container,
.form-login-container,
.section-basket-container {
  display: none;
}

/* Стили полей ввода */
.input-style {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;

  border: 2px solid transparent;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  opacity: 0.52;
}

.input-style::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.input-style:hover {
  border-color: rgb(154, 154, 154);
}

.input-style:focus {
  border-color: rgb(46, 136, 228);
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  clip: rect(0, 0, 0, 0);
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;

  background-color: #849d8f;
}

.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/set-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 9px;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/set-2.png");
}

.site-wrapper::after {
  background-image: url("../img/set-3.png");
}

.main-header {
  width: 1146px;
  margin: 0 auto 0 auto;
  position: relative;
}

.main-header-catalog {
  padding-top: 9px;
  margin-bottom: 20px;
}

.main-navigation {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

/* Главное меню навигации по магазину */
/* Список из главного меню */
.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  list-style: none;
  margin: 0 0 4px 10px;
  padding: 0;

  min-width: 349px;
}

.navigation-item {
  position: relative;
  margin-right: 2px;
}

.navigation-item:hover .sub-catalog-container {
  display: block;
  z-index: 1;
}

.user-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 9px auto;

  width: 245px;
}

.user-navigation-catalog {
  width: 262px;
}

.search-container {
  margin-left: 0px;
  position: relative;
}

.search-container:hover .form-search-container {
  display: block;
  z-index: 1;
}

.login-container {
  position: relative;
}

.login-container:hover .form-login-container {
  display: block;
  z-index: 1;
}

/* Ссылки/элементы главного меню
магазина (Каталог, Доставка и оплата,
О Компании) */
.menu-item {
  display: block;

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;

  padding: 10px 13px 11px 13px;
  border-radius: 16px;
}

/* Ссылки главного меню при наведении */
.navigation-item:hover .menu-item {
  color: #323232;
  background-color: rgb(247, 246, 243);
  text-decoration: none;
}

/* Ссылки главного меню при нажатии */
.menu-item:active {
  background-color: rgba(248, 247, 244, 0.988);
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
}

/* Активная ссылка Каталог на странице каталога */
.menu-item-active {
  background-color: rgb(208, 112, 88);
  text-decoration: none;
  line-height: 19px;
  padding: 6px 13px 7px 13px;
}

/* Подменю */
.sub-catalog-container {
  background-color: transparent;
  position: absolute;
  top: 31px;
  left: -7px;
  padding-top: 10px;
}

.sub-catalog {
  list-style: none;
  margin: 0;
  padding: 0 0 8px;
  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

  box-sizing: border-box;
  width: 143px;
}

.new-item {
  padding: 0;
  margin: 0;
}

.new-ref {
  display: block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  text-decoration: none;
  word-break: break-all;
  padding: 11px 20px 4px 20px;
}

.new-ref:hover {
  background-color: #fbded8;
}

.new-ref:active {
  background-color: #f6b5a5;
}

.active-ref {
  background-color: #d07058;
}

.header-new-ref {
  display: block;
  padding: 11px 15px 10px 15px;
  margin: 0px 9px 0px 6px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #323232;
  text-decoration: none;
  border-bottom: 1px solid rgb(235, 234, 231);
}

/* Ссылки поиска, формы логина и корзины */
.basket {
  padding: 9px 17px 8px 44px;
}

.login {
  padding: 9px 16px 8px 43px;
}

.search {
  display: block;
  padding: 16px;
}

/* форма поиска */
.form-search-container {
  position: absolute;
  top: 27px;
  right: -11px;
  background-color: transparent;
  padding-top: 10px;
  padding-right: 10px;
}

.form-search {
  border-radius: 6px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  padding: 20px 15px 19px 15px;
}

.search-phrase {
  box-sizing: border-box;
  width: 310px;
  padding: 9px 10px 8px 10px;
  border-color: rgb(211, 211, 210);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

.search-phrase::placeholder {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  color: #999999;
}

/* Форма входа */
.login-form {
  box-sizing: border-box;

  border-radius: 6px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  width: 277px;

  padding: 20px 18px 19px 20px;
}

/* Отступы между полями ввода */
.email-param,
.pass-param {
  margin: 0 0 19px 0;
}

.block-submit {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: center; */
  width: 240px
}

.login-email,
.login-password {
  box-sizing: border-box;

  border-color: rgb(211, 211, 210);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  width: 240px;

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  color: #999999;
  padding: 7px 13px 9px 13px;
}

.search,
.login,
.basket {
  display: block;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

  border-radius: 16px;

  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
  position: relative;
}

.basket::before {
  content: "";
  position: absolute;

  width: 21px;
  height: 20px;

  left: 16px;
  top: 7px;

  background-repeat: no-repeat;
  background-position: 0 0;
}

.empty-basket::before {
  background-image: url("../img/basket.svg");
}

.basket-container {
  position: relative;
}

.basket-container:hover .section-basket-container {
  display: block;
  z-index: 1;
}

.basket-container:hover .empty-basket::before {
  background-image: url("../img/basket-active.svg")
}

.section-basket {
  width: 540px;

  background-color: #f8f7f4;
  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

  padding: 11px 15px 0px 13px;
}

.basket-info {
  color: #323232;

  font-size: 13px;
  line-height: 16px;
  font-weight: 400;

  width: 100%;
  margin-bottom: 13px;

  border-collapse: collapse;
}

.per-kg {
  color: #999999;
}

.account {
  text-align: right;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: #323232;
  padding-top: 14px;
}

.btn-remove {
  width: 11px;
  height: 11px;

  border: 0;
  cursor: pointer;

  background-color: #f8f7f4;
  padding: 0;
}

.item-name {
  width: 216px;
  padding: 5px 0px 0px 9px;
}

.item-name-2 {
  padding: 25px 10px 0px 6px;
}

.item-calculation {
  padding: 4px 4px 0px 22px;
}

.item-calculation-2 {
  padding-top: 8px;
}

.item-picture {
  padding: 8px 0 0 11px;
}

.item-picture-2 {
  padding-top: 11px;
  padding-left: 13px;
}

.item-button {
  padding: 6px 0px 0px 2px;
}

.item-button-2 {
  padding-top: 14px;
}

.item-price {
  padding: 3px 9px 0 4px;
}

.item-price-2 {
  padding-top: 8px;
}

.item-button-2,
.item-picture-2,
.item-name-2,
.item-calculation-2,
.item-price-2 {
  padding-bottom: 16px;
  border-bottom: 1px solid #cacac7;
}

.btn-order {
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
  border-radius: 23px;
  padding: 9px 15px 12px 16px;
  align-self: flex-end;
}

.picture {
  border-radius: 50%;
}

.section-basket-container {
  position: absolute;
  padding-top: 10px;
  padding-bottom: 0px;
  top: 27px;
  right: 0px;
}

.section-basket {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  padding: 12px 13px 20px 15px;
  width: 541px;
}

.login::before {
  content: "";
  position: absolute;

  width: 21px;
  height: 19px;

  left: 16px;
  top: 7px;

  background-image: url("../img/entrance.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.form-login-container {
  position: absolute;
  background-color: transparent;
  top: 27px;
  right: -3px;
  padding-top: 10px;
}

.login-container:hover .login::before {
  background-image: url("../img/active-entrance.svg");
}

.search::before {
  content: "";
  position: absolute;

  width: 17px;
  height: 17px;

  left: 8px;
  top: 7px;

  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search-container:hover .search::before {
  background-image: url("../img/active-loupe.svg");
}

/* Наведение на ссылки поиска, формы логина и корзины */
.search-container:hover .search,
.login-container:hover .login,
.basket-container:hover .basket {
  color: #323232;
  background-color: #f8f7f4;
}

/* Стиль корзины с товарами */
.full-basket {
  color: #323232;
  background-color: #f7f6f3;
}

.full-basket::before {
  background-image: url("../img/basket-red.svg");
}

/* Контакты и время работы */
.contacts {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  text-align: end;
  color: #ffffff;

  width: 168px;
  padding: 0;
  margin: 0;

  position: absolute;
}

.main-contacts {
  top: 58px;
  right: 0px;
}

.catalog-contacts {
  top: 68px;
  right: 0px;
}

.work-time {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.inner-page-container {
  width: 1146px;
  margin: 0 auto;
}

/* Главный заголовок сайта */
.shop-name {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.promo {
  width: 1146px;
  margin: 0 auto 13px auto;

  padding-top: 315px;

  text-align: center;
  color: #ffffff;

  position: relative;
}

/* Названия сетов из 2 мороженых */
.slide-title {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;

  margin: 0 auto;
  margin-bottom: 38px;
}

.slide-title-1 {
  width: 670px;
}

.slide-title-2 {
  width: 648px;
}

.slide-title-3 {
  width: 634px;
}

/* Фоны сетов */
.slider-list {
  margin: 0 0 53px 0;
  padding: 0;

  list-style: none;
}

.marker-1,
.marker-2,
.marker-3 {
  display: inline-block;
  width: 18px;
  height: 18px;

  margin-right: 7px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.slider-controls {
  position: absolute;
  top: 486px;
  left: 0px;
  z-index: 20;
  font-size: 0;
}

.slide {
  display: none;
}

.check-1:checked ~ .site-wrapper .slide1,
.check-2:checked ~ .site-wrapper .slide2,
.check-3:checked ~ .site-wrapper .slide3 {
  display: block;
}

.check-1:checked ~ .site-wrapper .marker-1,
.check-2:checked ~ .site-wrapper .marker-2,
.check-3:checked ~ .site-wrapper .marker-3 {
  background-color: #ffffff;
}

.check-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/set-1.png");
}

.check-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/set-2.png");
}

.check-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/set-3.png");
}

/* Кнопки и ссылки в виде кнопок */
.btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;

  background-image:  linear-gradient(90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.btn-slide {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;

  border-radius: 30px;
  padding: 12px 39px;
}

/* кнопка вход */
.btn-entrance {
  border-radius: 22px;
  padding: 3px 22px 4px 22px;
}

.email-password-info {
  width: 120px;

  font-size: 13px;
  line-height: 24px;
  font-weight: 400;

  color: #323232;

  margin: 0;
}

.new-reg,
.password-help {
  color: #323232;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
}

.btn:active {
  background-image: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}

/* Список предложений */
.offer-list {
  display: flex;
  justify-content: space-between;

  list-style: none;
  padding: 0;

  margin: 0 auto 40px auto;
}

.offer-item {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  background-repeat: no-repeat;
  width: 560px;

  padding: 16px 0px 0px 19px;
  text-align: left;

  border-radius: 15px;
}

.offer-raspberry {
  background-image: url("../img/raspberries.jpg");
  background-position: -50px -94px;
}

.offer-chocolate {
  background-image: url("../img/chocolate.jpg");
  background-position: -218px -104px;
}

.offer-header {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
  padding: 0 0 15px 0;
}

.offer-description {
  box-sizing: border-box;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;

  margin: 0px 0px 44px 0px;
  padding: 0;

  width: 514px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  padding: 0;
  margin: 0px;

  text-align: center;
}

.full-catalog-list {
  margin-bottom: 50px;
}

.catalog-item {
  width: 267px;
  margin-bottom: 35px;
  margin-right: 26px;

  position: relative;
}

.catalog-item-hit {
  width: 267px;
  margin-bottom: 24px;
  margin-right: 26px;

  position: relative;
}

.catalog-item-hit::before {
  content: "";
  top: 0px;
  left: 0px;

  width: 61px;
  height: 61px;

  position: absolute;

  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-item-name {
  margin: 0;
  padding: 9px 0px 0px 0px;
  width: 257px;
}

.catalog-item:nth-child(4n),
.catalog-item-hit:nth-child(4n) {
  margin-right: 0;
}

.btn-fast-view {
  padding: 9px 17px 12px 19px;
  border-radius: 30px;

  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
}

.card {
  visibility: hidden;

  border-radius: 5px;
  background-color: rgba(248, 247, 244, 0.2);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

  position: absolute;
  top: -8px;
  left: -13px;

  width: 293px;
  margin: 0px 0px 0px 0px;
  padding: 349px 0px 32px 0px;

  z-index: 1;
}

.catalog-item:hover .card {
  visibility: visible;
}

.catalog-item-hit:hover .card {
  visibility: visible;
}

.item-reference {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

/* Цена */
.price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;

  position: absolute;
  top: 208px;
  left: -1px;
  margin: 0;

  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.kilo {
  font-size: 30px;
  margin-left: 24px;

  position: relative;

  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.kilo::before {
  content: "";

  position: absolute;
  top: -5px;
  right: -57px;

  width: 129px;
  height: 150px;

  background-image: url("../img/ruble.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

/* Хлебные крошки */
.breadcrumb-container {
  display: flex;
  flex-direction: column-reverse;
  margin: 0 0 26px 0;
}

.breadcrumbs-navigation {
  margin: 0 0 4px 0px;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 21px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "»";
  position: absolute;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;

  top: 2px;
  right: -14px;
}

.breadcrumbs-reference {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.breadcrumbs-reference-current {
  text-decoration: none;
  color: #ffffff;
  padding-top: 2px;
}

/* Заголовок страницы каталога */
.page-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;

  margin: 0;
  padding: 0px 0px 0px 0px;
}

/* Стили фильтров */
.filters {
  margin: 0 0 33px 0;
}

.form-filter {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  width: 870px;
}

.sort,
.price-range,
.fat-content,
.fillers {
  border: none;

  padding: 0px 0px 7px 0px;
  margin: 0;
}

.filter-header {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;

  margin-bottom: 7px;
  padding: 0px 0px 0px 16px;
}

.filter-value {
  display: block;

  cursor: pointer;
  user-select: none;

  position: relative;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
}

.filter-value::before {
  content: "";
  position: absolute;
}

.fat-filter-value::before {
  width: 25px;
  height: 25px;
  top: -5px;
  left: -34px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
}

.fat-filter-value:hover::before {
  background-image: url("../img/radio-off-hover.svg");
}

.filter-input-radio:checked + .fat-filter-value::before {
  background-image: url("../img/radio-on.svg");
}

.filter-input-radio:checked + .fat-filter-value:hover::before {
  background-image: url("../img/radio-on-hover.svg");
}

.fillers-filter-value::before {
  width: 23px;
  height: 23px;
  top: -4px;
  left: -33px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.fillers-filter-value:hover::before {
  background-image: url("../img/checkbox-off-hover.svg");
}

.filter-input-checkbox:checked + .fillers-filter-value::before {
  width: 27px;

  background-image: url("../img/checkbox-on.svg");
}

.filter-input-checkbox:checked + .fillers-filter-value:hover::before {
  background-image: url("../img/checkbox-on-hover.svg");
}

/* Значения по фильтру */
.options {
  display: flex;
  justify-content: flex-start;

  list-style: none;
  margin: 0;
  padding: 0;

  border-radius: 36px;

  background-color: rgba(255, 255, 255, 0.2);
}

.fat-filter-option {
  padding: 10px 0px 7px 48px;
}

.fillers-filter-option {
  padding: 9px 2px 7px 50px;
}

.sort,
.price-range,
.fillers {
  margin-right: 16px;
  margin-bottom: 1px;
}

/* Селектор */
.sort-kind {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  padding: 5px 14px 8px 8px;
  border-radius: 36px;

  background-color: rgba(248, 247, 244, 0.2);
}

.sort-kind:hover {
  color: #323232;
}

.option-item {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

/* Ползунок цены */
.range-controls {
  position: relative;

  box-sizing: border-box;
  height: 36px;
  width: 220px;
  padding-top: 16px;
  padding-right: 22px;
  padding-left: 22px;

  border-radius: 36px;

  background-color: rgba(255, 255, 255, 0.2);
}

.scale {
  height: 4px;

  background: #d1dad3;
}

.bar {
  width: 70%;
  height: 4px;

  background: #f8f7f4;
}

.toggle {
  position: absolute;
  top: 7px;

  box-sizing: border-box;
  width: 20px;
  height: 20px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #b4b4b4;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 36px;
}

.range-controls .toggle-max {
  left: 134px;
}

/* Жирность */
.fat-case-container {
  width: 415px;
}

/* Наполнители */
.fillers-flag-container {
  width: 702px;
}


.btn-jam,
.btn-chocolate {
  padding: 11px 22px 11px 22px;
  align-self: flex-end;
  margin: 0px 21px 23px 0px;
  border-radius: 20px;
}

.btn-filter {
  box-sizing: border-box;
  align-self: center;

  width: 144px;
  margin: 16px 0px 0px 0px;
  padding: 8px 0px 7px 0px;

  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0);
}

.btn-filter:hover {
  color: #323232;
  background-color: rgb(255, 255, 255);
}

.btn-filter:active {
  background-color: rgb(237, 237, 237);
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
}

/* Преимущества */
.features {
  box-sizing: border-box;
  background-color: #ebdec4;
  background-image: url("../img/wafer.jpg");
  background-repeat: repeat;

  width: 1146px;
  margin: 0 auto 40px auto;

  border-radius: 15px;
  padding: 24px 0px 23px 20px;
}

.glacy-shop {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;

  margin: 0;
  padding: 0;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  list-style: none;

  margin: 0;
  padding: 0;
}

.feature-item {
  box-sizing: border-box;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;

  width: 560px;
  padding: 20px 27px 2px 57px;

  position: relative;
}

.feature-item::before {
  content: "";

  width: 49px;
  height: 49px;

  top: 8px;
  left: 0px;

  background-repeat: no-repeat;
  background-position: 0 0;

  position: absolute;
}

.feature-item:nth-child(1)::before {
  background-image: url("../img/ice-cream.svg");
}

.feature-item:nth-child(2)::before {
  background-image: url("../img/cow.svg");
}

.feature-item:nth-child(3)::before {
  background-image: url("../img/eco.svg");
}

.feature-item:nth-child(4)::before {
  background-image: url("../img/thermometer.svg");
}

.education {
  display: flex;
  justify-content: space-between;

  width: 1146px;
  margin: 0 auto 40px auto;
}

/* Новое в нашем блоге */
.news {
  box-sizing: border-box;

  background-color: #ffffff;
  background-image: url("../img/srawberry.jpg");
  background-repeat: no-repeat;
  background-position: -52px -224px;

  width: 560px;
  border-radius: 15px;
}

.news-header {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;

  margin: 0 0 5px 0;
  padding: 22px 0px 0px 20px;
}

.news-article-container {
  box-sizing: border-box;

  width: 302px;
  margin: 0;
  padding: 0px 0px 80px 21px;
}

.news-article {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
}

.news-article:hover,
.news-article:active{
  color: #e84d37;
}

/* Подписка */
.subscription {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: #f8f7f4;
  width: 560px;

  border-radius: 5px;
  border: 5px solid;
  border-image: url("../img/bg-post.svg");
  border-image-repeat: repeat;
  border-image-slice: 2% 1%;
}

.subscription-offer {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a;

  width: 508px;
  padding: 28px 13px 0px 23px;
  margin: 0px 0px 36px 0px;
}

.form-subscription {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 0px;

  width: 508px;
}

.subscription-email {
  width: 368px;
  padding: 6px 14px 12px 14px;
  margin-right: 10px;

  border-color: rgb(178, 178, 178);
}

.btn-send {
  padding: 6px 16px 10px 18px;
  border-radius: 20px;
}

.location {
  display: flex;
  justify-content: flex-end;

  background-color: #ffffff;
  background-image: url("../img/map-pin-shadow.jpg");
  background-repeat: no-repeat;
  background-position: 0px -107px;
  margin: 0 auto;
}

.shop-info {
  display: flex;
  flex-direction: column;

  background-color: #ffffff;
  width: 302px;

  margin: 62px 27px 62px 0;
  border-radius: 15px;
  padding: 0px 0px 30px 0px;
}

.address,
.phone {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;

  margin: 0;
  padding: 0;
}

.address {
  padding: 30px 118px 0px 26px;
}

.phone {
  padding: 0px 0px 0px 25px;
}

.address-value,
.phone-value {
  color: #323232;
  font-size: 18px;
  font-weight: 700;

  margin: 0;
  padding: 0;
}

.address-value {
  line-height: 24px;
  padding: 1px 34px 0px 26px;
  margin-bottom: 18px;
}

.phone-value {
  line-height: 22px;
  padding: 5px 124px 0px 25px;
  margin-bottom: 22px;
}

.time-value {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.btn-feedback {
  padding: 10px 25px 12px 30px;
  align-self: center;
  border-radius: 30px;
}

/* Страницы каталога */
.pagination-container {
  display: flex;
  justify-content: flex-start;
  align-self: flex-end;

  list-style: none;
  padding: 0;
  margin: 0;

  width: 189px;
}

.arrow {
  margin-right: 15px;
}

.pagination-list {
  display: flex;

  margin: 0px 13px 0px 0px;
  padding: 0;
  list-style: none;
}

.pagination-item {
  margin-right: 3px;
}

.page,
.current-page {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  color: #ffffff;
  text-decoration: none;

  padding: 4px 8px 3px 9px;
  border-radius: 50%;
}

.page:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.current-page,
.page:active {
  color: #323232;
  background-color: #ffffff;
}

/* Списки соц. сетей и списки ссылок на документы */
.footer-social,
.document-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-top: 18px;

  width: 185px;
}

.document-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 14px 0px 0px 7px;
}

.document-item {
  margin-bottom: 4px;
}

.document-item:nth-child(2) {
  padding-right: 56px;
}

.documents {
  margin: 0;
  width: 311px;

  position: relative;
}

.documents::before {
  content: "";
  width: 15px;
  height: 13px;

  top: 19px;
  right: 311px;

  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;

  position: absolute;
}

.social-site {
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 38px;
  height: 38px;

  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.502);
}

.svg-style {
  fill: #e6ebe9;
}

.social-site:hover {
  border: 3px solid rgba(255, 255, 255, 0.702);
}

.social-site:hover .svg-style {
  fill: #ffffff;
}

.social-site:active {
  border: 3px solid rgba(255, 255, 255, 0.702);
}

.social-site:active .svg-style {
  fill: #e9e9e9;
}

.document-site {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.provider-document-site {
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
}

/* Авторские права */
.author {
  margin: 0;
  width: 190px;
}

.footer-copyright {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #fefefe;

  padding: 0;
  margin: 0;
}

.footer-logo {
  padding: 0;
  margin: 0;
}

.intensive-site {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

/* Белые ссылки на зеленом фоне */
.white-references {
  color: #ffffff;
}

/* Те же ссылки только с учетом наведения курсора мыши и нажатия на ссылку. */
.white-references:hover,
.white-references:active {
  color: #ffbc9e;
}

.main-footer {
  display: flex;
  justify-content: space-between;

  width: 1146px;
  margin: 0 auto 0 auto;
  padding: 18px 0 25px 0;
}

/* Форма обратной связи */
.feedback {
  box-sizing: border-box;
  position: fixed;
  top: 338px;
  left: 50%;
  margin-left: -236px;
  background-color: #f8f7f4;
  width: 477px;
  padding: 16px 25px 27px 23px;

  border-radius: 10px;
}

.feedback-header,
.name-param-feedback,
.email-param-feedback,
.wishes-param-feedback {
  margin: 0;
  padding: 0;
}

.feedback-container {
  position: relative;
}

.btn-close {
  position: absolute;
  top: -1px;
  right: -8px;

  width: 18px;
  height: 17px;

  border: 0;
  cursor: pointer;

  background-color: transparent;
  padding: 0;
}

.form-feedback {
  display: flex;
  flex-direction: column;

  padding: 20px 0px 0px 0px;
}

.name-param-feedback {
  margin-bottom: 20px;
}

.email-param-feedback {
  margin-bottom: 20px;
}

.feedback-name,
.feedback-email {
  box-sizing: border-box;

  width: 267px;
  padding: 10px 13px 6px 13px;

  border-radius: 5px;
  border-color:  rgb(178, 178, 178);
  opacity: 0.52;
}

.feedback-text {
  box-sizing: border-box;
  width: 428px;
  min-height: 155px;
  padding: 10px 14px 10px 14px;
  border-radius: 5px;
  border-color: rgb(178, 178, 178);
  opacity: 0.52;
}

.wishes-param-feedback {
  margin-bottom: 19px;
}

.btn-form-feedback {
  padding: 10px 21px 9px 23px;
  align-self: flex-end;
  border-radius: 30px;
}

.catalog {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
  margin-bottom: 0px;
  border-bottom: 1px solid #a9bbb1;
}

.backward {
  transform: rotate(180deg);
}
